* {
    font-family: 'Coming Soon', cursive;
}

body{
    width: 100%;
    height: 100%;
    background: whitesmoke;
    cursor: hand;
    text-align: -webkit-center;
}

.app{
    width: 100%;
    margin: auto;
    text-align: center;
}

.message {
    color: mediumblue;
    font-size: 38px;
    text-align: center;
    height: 30px;
}

.grid{
    margin: 0 auto;
    height: 310px;
    width: 330px;
    background-color: whitesmoke;
    border: 4px solid whitesmoke;
}

.cell {
    margin: 4.5px;
    background-color: mediumblue;
    width: 100px;
    height: 100px;
    float:left;
}

.cell h1 {
    color: gold;
    font-size: 70px;
    margin-top: 5px;
}

.winner {
    color: mediumblue;
}

.button {
    height: 30px;
    width: 150px;
    padding-top: 5px;
    font-size: inherit;
}