*{
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: whitesmoke;
    cursor: hand;
    text-align: -webkit-center;
}

h1 {
    margin-bottom: 50px;
    color: mediumblue;

}

#game {
    width: 300px;
    height: 300px;
    padding: 0;
    margin: 0;
}

.tile {
    width: 100px;
    height: 100px;
    outline: solid whitesmoke thick;
    float: left;
    line-height: 88px;
    text-align: center;
    font-size: 60px;
    background-color: mediumblue;
    color: gold;

}

/*.tile status-x {*/
    /*color: #990000;*/
/*}*/

/*.tile status-o {*/
    /*color: #006600;*/
/*}*/


#menu {
   margin-top: 50px;
}

.button {
    height: 50px;
    width: 150px;
    font-size: inherit;
}

